<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user-profile.css"/>
    <title>Document</title>
</head>

<body>

    <div class="wrapper">
    
        <form action="/user-profile" method="POST" enctype="multipart/form-data">
            <h3>Upload Profile Photo</h3>
            <input type="file" name="sampleFile" accept="image/*" />
            <input type="submit" class="btn btn-primary" />
        </form>

        <div class="card"> 

            <button type="button" class="btn btn-primary"><a href="auth/logout">logout</a></button>


            {{#each rows}}

                {{#if this.profile_image}}
                    <img class="card__image" src="{{this.profile_image}}" alt="User Profile">
                {{else}}
                    <img class="card__image" src="/img/default.jpg" alt="User Profile">
                {{/if}}


                <h1 class="card__title">{{this.FName}}</h1>
                <div class="card__job">{{this.email}}</div>
                <p class="card__about">{{this.DOB}}</p>
                <button type="button" class="btn btn-primary"><a href="joinCreate_room">Create/Join Room</a></button>


            {{/each}}



        </div>
    
    
    </div>
    
</body>

</html>